/* Genel stil ayarları */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Başlık ve Navigasyon */
header {
    background-color: #35424a;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #e8491d;
    border-radius: 5px;
}

/* Ana içerik alanı */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #35424a;
}

/* Alt Bilgi */
footer {
    text-align: center;
    padding: 10px;
    background-color: #35424a;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Mobil uyumlu tasarım */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    
    nav ul {
        text-align: center;
    }
}